/*
=================================================
GLOBAL
=================================================
*/
body{
    background-color: #F3DFC1;
    color:#1a1c1a;
}


/*
=================================================
TYPOGRAPHY
=================================================
*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Chonburi', cursive;
}


/*
=================================================
HOME
=================================================
*/
.home-icon{
    font-size:48px;
}

.teaser img{
    max-height:295px;
}
.darker{
   background-color:#F3CEA1 ; 
}